@import "../../colors.scss";

.employees-list p {
  margin: 0;
}

.employees-list__item {
  position: relative;
  border-top: 4px dashed $grey-color;

  &::before,
  &::after {
    position: absolute;
    top: -19px;
    width: 35px;
    height: 35px;
    background-color: $grey-color;
    border-radius: 50%;
    content: "";
  }

  &::before {
    left: -38px;
  }

  &::after {
    right: -34px;
  }
}

.employees-list__name {
  color: $light-violet-color;
  font-weight: 900;
}

.employees-list__link {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  outline: none;

  &:hover,
  &:hover .employees-list__name,
  &:focus,
  &:focus .employees-list__name {
    color: $pink-color;
  }
}

.employees-list__phone,
.employees-list__role {
  font-size: 12px;
  padding-top: 3px;
}

.employees-list__birthday {
  align-self: center;

  &--long {
    display: none;
  }
}


@media (min-width: 760px) {
  .employees-list__wrapper-personal-data {
    display: flex;
    width: 58%;
    justify-content: space-between;
  }

  .employees-list__item {
    border-top: 0.4vw dashed $grey-color;

    &::before,
    &::after {
      top: -3vw;
      width: 5.5vw;
      height: 5.5vw;
    }

    &::before {
      left: -6.8vw;
    }
  
    &::after {
      right: -6.8vw;
    }
  }

  .employees-list__link {
    padding-top: 3.5vw;
    padding-bottom: 3.5vw;
  }

  .employees-list__name,
  .employees-list__role,
  .employees-list__birthday {
    font-size: 1.6vw;
    line-height: 1.8vw;
  }

  .employees-list__role {
    align-self: center;
  }

  .employees-list__phone {
    font-size: 1.4vw;
    line-height: 1.6vw;
    opacity: 0.6;
    padding-top: 1vw;
  }

  .employees-list__birthday {
    &--long {
      display: block;
    }

    &--short {
      display: none;
    }
  }
}
