@import "../../colors.scss";

.filter {
  padding-top: 20px;
}

.filter__field {
  padding: 5px 15px;
  font-size: 18px;
  color: $white-color;
  background-color: $green-color;
  border: none;
  cursor: pointer;
  appearance: none;

  &--sorting {
    width: 200px;
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10px' width='15px'%3E%3Ctext x='0' y='10' fill='white'%3E%E2%96%BE%3C/text%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 15px 15px;
    background-clip: border-box;
    border-radius: 18px;
  }

  &:hover,
  &:focus {
    color: $black-color;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10px' width='15px'%3E%3Ctext x='0' y='10' fill='black'%3E%E2%96%BE%3C/text%3E%3C/svg%3E");
    outline: none;
  }
}

.filter__checkbox {
  position: relative;
  padding-left: 40px;
  padding-top: 20px;
}

.filter__checkbox-label {
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 23px;
    left: 0px;
    width: 30px;
    height: 30px;
    border: 3px solid $green-color;
    border-radius: 50%;
    content: "";
  }

  &:hover::before {
    border-color: $pink-color;
  }
}

.filter__checkbox-input:focus + .filter__checkbox-label:before {
  border-color: $pink-color;
}

.filter__checkbox-input:checked + .filter__checkbox-label:after {
  position: absolute;
  top: 31px;
  left: 8px;
  width: 14px;
  height: 14px;
  background-color: $violet-color;
  border-radius: 50%;
  content: "";
}

@media (min-width: 760px) {
  .filter {
    padding-top: 1.5vw;
  }

  .filter__field {
    width: 30vw;
    padding: 1vw 1.5vw;
    font-size: 1.9vw;
    line-height: 2.1vw;

    &--sorting {
      width: 30vw;
      background-size: 2vw 2vw;
      border-radius: 2.4vw;
    }
  }

  .filter__checkbox {
    padding-top: 3vw;
    padding-left: 4vw;
  }

  .filter__checkbox-label {
    font-size: 1.9vw;
    line-height: 2.1vw;

    &::before {
      top: 2.5vw;
      width: 3vw;
      height: 3vw;
      border-width: 0.3vw;
    }
  }

  .filter__checkbox-input:checked + .filter__checkbox-label:after {
    top: 3.3vw;
    left: 0.8vw;
    width: 1.4vw;
    height: 1.4vw;
  }
}
