@import "../../colors.scss";

.sorting-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.sorting-list__sorting-button {
  display: block;
  padding: 0;
  font-family: inherit;
  background-color: $white-color;
  border: none;
  text-decoration: none;
  cursor: pointer;

  &:disabled {
    display: none;
  }

  &--active,
  &:active {
    color: $violet-color;
    font-weight: 900;
  }

  &:hover,
  &:focus {
    color: $pink-color;
    outline: none;
  }
}

@media (min-width: 760px) {
  .sorting-list {
    padding-bottom: 1.6vw;
  }

  .sorting-list__sorting-button {
    font-size: 1.8vw;
    line-height: 2vw;

    &:disabled {
      display: block;
      color: $black-color;
      cursor: auto;
    }
  }
}
