@import "../../colors.scss";

.form__list {
  position: relative;

  .form__item:nth-of-type(2n) {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    align-items: flex-start;
    padding-left: 25px;

    &::before {
      right: -35px;
    }
  }

  .form__item:nth-of-type(2n+1) {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    align-items: flex-end;
    padding-right: 25px;

    &::before {
      left: -34px;
    }
  }
}

.form__item {
  display: flex;
  width: 100%;
  background-color: $grey-color;
  padding-top: 7px;
  min-height: 90px;
  flex-direction: column;

  &--archive {
    justify-content: center;
  }

  &:not(:first-child) {
    margin-top: 50px;
  }

  &::before {
    position: absolute;
    width: 40px;
    height: 130px;
    background-color: $grey-color;
    content: "";
  }

  &--name::before {
    top: -22px;
  }

  &--phone::before {
    top: 120px;
  }

  &--birthday::before {
    top: 260px;
  }

  &--role::before {
    top: 400px;
  }

  &--archive::before {
    top: 540px;
  }
}

.form__label {
  padding-bottom: 7px;

  &:not(.form__label--archive)::before,
  &:not(.form__label--archive)::after {
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    background-color: $light-violet-color;
    border-radius: 50%;
    content: "";
  }

  &--name::before,
  &--name::after,
  &--birthday::before,
  &--birthday::after {
    left: -20px;
  }

  &--phone::before,
  &--phone::after,
  &--role::before,
  &--role::after {
    right: -20px;
  }

  &--name::before {
    top: -50px;
  }

  &--name::after,
  &--phone::before {
    top: 90px;
  }

  &--phone::after,
  &--birthday::before {
    top: 230px;
  }

  &--birthday::after,
  &--role::before {
    top: 370px;
  }

  &--role::after {
    top: 510px;
  }
}

.form__input {
  padding: 5px 10px;
  font-family: inherit;
  border: 1px solid $green-color;
  border-radius: 10px;

  &::-webkit-input-placeholder {
    font-family: inherit;
  }

  &:hover {
    border-color: $violet-color;
  }

  &:focus {
    border-color: $green-color;
    box-shadow:
      inset 1px 1px $green-color,
      inset -1px -1px $green-color;
    outline: none;
  }
}

.form__error {
  font-size: 10px;
  line-height: 12px;
  color: $pink-color;
  padding-top: 3px;
}

.form__buttons {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.form__link {
  padding: 10px 5px;
  color: $white-color;
  align-self: center;

  &:hover,
  &:focus {
    color: $pink-color;
    outline: none;
  }
}

.form__button {
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  color: $white-color;
  background-color: $green-color;
  border: 2px solid $white-color;
  border-radius: 12px;
  max-width: 170px;
  cursor: pointer;
  min-height: 30px;
  word-break: break-all;

  &:hover,
  &:focus {
    color: $violet-color;
    background-color: $white-color;
    outline: none;
  }
}

@media (min-width: 760px) {
  .form {
    padding: 7vw 4vw 4vw;
    background-color: $white-color;
    border: 0.1vw solid $green-color;
    border-radius: 2.5vw;
    flex: 1;
  }

  .form__list {
    .form__item:nth-of-type(2n),
    .form__item:nth-of-type(2n+1) {
      border-radius: 2.5vw;
    }
  }

  .form__item,
  .form__label {
    &::before,
    &::after {
      display: none;
    }
  }

  .form__item {
    border: 0.1vw solid $green-color;
    min-height: 11vw;
    padding-top: 1.5vw;

    &:not(:first-child) {
      margin-top: 3vw;
    }
  }

  .form__label,
  .form__input {
    font-size: 1.4vw;
    line-height: 1.6vw;
  }

  .form__label {
    padding-bottom: 0.7vw;
  }

  .form__input {
    padding: 0.5vw 1vw;
    border-radius: 1vw;
    border-width: 0.1vw;

    &:focus {
      border-color: $light-violet-color;
      box-shadow:
        inset 1px 1px $light-violet-color,
        inset -1px -1px $light-violet-color;
    }
  }

  .form__item select:focus {
    border-color: $light-violet-color;
    box-shadow:
      inset 1px 1px $light-violet-color,
      inset -1px -1px $light-violet-color;
  }

  .form__error {
    font-size: 1vw;
    line-height: 1.2vw;
    padding-top: 2vw;
  }

  .form__link {
    padding: 1vw 0.5vw;
    font-size: 1.4vw;
    line-height: 1.6vw;
    color: $light-violet-color;
  }

  .form__button {
    padding: 0.5vw 1vw;
    font-size: 1.8vw;
    line-height: 2vw;
    color: $green-color;
    background-color: $grey-color;
    border: 0.2vw solid $green-color;
    border-radius: 1.2vw;
    max-width: 17vw;
    cursor: pointer;
    min-height: 3vw;

    &:hover,
    &:focus {
      border-color: $light-violet-color;
    }
  }
}
