@import "../../colors.scss";

.form-page {
  padding: 0 20px 40px 20px;
  background-color: $light-violet-color;
  border-radius: 25px;
  margin-top: 40px;
  margin-bottom: 40px;

}

.form-page__title {
  margin: 0;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  padding-top: 30px;
}

.form-page__wrapper-title {
  display: flex;
  color: $white-color;
  min-height: 170px;
  flex-direction: column;
}

.form-page__text {
  margin: 0;
  align-self: flex-end;

  &--phone {
    padding-top: 17px;
  }

  &--role {
    padding-top: 7px;
  }
}

@media (min-width: 760px) {
  .form-page {
    display: flex;
    padding: 0;
    border-radius: 2.5vw;
    margin-top: 4vw;
    margin-bottom: 4vw;
  }

  .form-page__wrapper-title {
    width: 25vw;
    background-color: $light-violet-color;
    border-radius: 2.5vw;
    padding-top: 4vw
  }

  .form-page__title {
    padding: 3vw 3vw 0;
    font-size: 2.6vw;
    line-height: 3vw;
  }

  .form-page__text {
    font-size: 1.4vw;
    line-height: 1.6vw;
    padding-top: 4vw;
    padding-left: 4.3vw;
    align-self: flex-start;
  }
}
