@import "../../colors.scss";

.checkbox__pseudo-label {
  &::before,
  &::after {
    position: absolute;
    left: -20px;
    z-index: 1;
    width: 50px;
    height: 50px;
    background-color: $light-violet-color;
    border-radius: 50%;
    content: "";
  }

  &::before {
    top: 510px;
  }

  &::after {
    top: 650px;
  }
}

.checkbox__label {
  position: relative;
  padding-left: 40px;
  padding-top: 7px;
  padding-bottom: 8px;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    background-color: $white-color;
    border: 1px solid $green-color;
    border-radius: 10px;
    content: "";
  }

  &:hover::before{
    border-color: $violet-color;
  }
}

.checkbox__input:focus + .checkbox__label::before {
  border: 2px solid $violet-color;
}

.checkbox__input:checked + .checkbox__label::after {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 14px;
  height: 14px;
  background-color: $green-color;
  border-radius: 4px;
  content: "";
}

.checkbox__input:checked + .checkbox__label:hover::after,
.checkbox__input:focus + .checkbox__label::after  {
  background-color: $violet-color;
}

@media (min-width: 760px) {
  .checkbox__pseudo-label {
    &::before,
    &::after {
      display: none;
    }
  }

  .checkbox__label {
    font-size: 1.4vw;
    line-height: 1.6vw;
  }

  .checkbox__label {
    padding-left: 4vw;
    padding-top: 0;
    padding-bottom: 0.8vw;
    cursor: pointer;

    &::before {
      top: -0.8vw;
      left: 0;
      width: 3vw;
      height: 3vw;
      border-radius: 1vw;
      border-width: 0.1vw;
      content: "";
    }
  }

  .checkbox__input:checked + .checkbox__label::after {
    top: 0;
    left: 0.8vw;
    width: 1.4vw;
    height: 1.4vw;
    border-radius: 0.4vw;
    content: "";
  }
}
