@import "../../colors.scss";

.form__item select {
  padding: 5px 15px;
  font-family: inherit;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10px' width='15px'%3E%3Ctext x='0' y='10' fill='black'%3E%E2%96%BE%3C/text%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 12px 10px;
  background-clip: border-box;
  border: 1px solid $green-color;
  border-radius: 10px;
  cursor: pointer;
  appearance: none;

  &:hover {
    border-color: $violet-color;
  }

  &:focus {
    border-color: $green-color;
    box-shadow:
      inset 1px 1px $green-color,
      inset -1px -1px $green-color;
    outline: none;
  }
}

@media (min-width: 760px) {
  .form__item select {
    padding: 0.5vw 1.5vw;
    font-size: 1.4vw;
    line-height: 1.6vw;
    background-size: 1.5vw 1.5vw;
    border-radius: 1vw;
    border-width: 0.1vw;
  }
}
